html, body {
    background: #A1C8ED;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.header {
    width: 100%;
    height: 7%;
    background: #287FCC;
    position: fixed;
}

.device-status-container {
    border: none;
    color: white;
    padding: 0px 0px 0px;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
    position: fixed;
    width: 90%;
    top: 52%;
    left: 4%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.header-text {
    color: white;
}

.Hub-connection-status {
    display: inline;
}

.connecting-text {
    padding-right: 2%;
    padding-top: 3%;
    display: inline;
}

.cooksmart-header {
    height: 100%;
    float: left;
    display: inline;
    font-family: 'Atomic Age', cursive;
    font-weight: bold;
    font-size: xx-large;
}

.connected-text {
    display: inline;
}

.refresh-button-container {
    position: fixed;
    width: 20%;
    border-radius: 50%;
    bottom: 8%;
    right: 10%;
    background: #FFFFFF;
}

#refreshButton {
    font-size: 60px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.list-header {
    color: black;
    font-size: 300%;
}

.device-list-header-container {
    padding-top: 5%;
    margin-left: 5%;
    margin-left: 5%;
}
/*********************************
.menu-selection-container {
    position: fixed;
    width: 9%;
    top: 10%;
    right: 12%;
    bottom: 8%;
}
**********************************/

.cooknow-button{
    background-color: #287FCC; /*blue same as header */
    border: double; 
    color: white;
    padding: 16px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: x-large;
    margin: 0px 0px;
    cursor: pointer;
    position: fixed;
    top: 70%;
    left: 4%;
    height: 11%;
    width: 90%;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
    
}

.cooknow-button:hover{
    background-color: #7BBDF7; /* lighter blue */
    color: white;
}

.currentRecipe-button{
    background-color: #287FCC; /* same as header */
    border: double;
    color: white;
    padding: 16px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: x-large;
    margin: 0px 0px;
    cursor: pointer;
    position: fixed;
    height: 11%;
    width: 90%;
    top: 57%;
    left: 4%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.currentRecipe-button:hover{
    background-color: #7BBDF7; /* lighter blue */
    color: white;
}

.status-button{
    background-color: #287FCC;
    border: double;
    color: white;
    padding: 0px 0px 0px;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
    position: fixed;
    height: 40%;
    width: 90%;
    top: 10%;
    left: 4%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.status-button:hover{
    background-color: #7BBDF7; /* lighter blue */
    color: white;
}

.menuBar-home-button{
    background-color: #287FCC;
    border: none;
    color: white;
    padding: 0px 0px 0px;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
    position: fixed;
    height: 8%;
    width: 33%;
    top: 93%;
    left: 0%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.menuBar-home-button:hover{
    background-color: #7BBDF7; /* lighter blue */
    color: white;
}

.menuBar-recipe-button{
    background-color: #287FCC;
    border: none;
    color: white;
    padding: 0px 0px 0px;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
    position: fixed;
    height: 8%;
    width: 33%;
    top: 93%;
    left: 33%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.menuBar-recipe-button:hover{
    background-color: #7BBDF7; /* lighter blue */
    color: white;
}

.menuBar-settings-button{
    background-color: #287FCC;
    border: none;
    color: white;
    text-align: left;   
    padding: 0px 10px 0px;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
    position: fixed;
    height: 8%;
    width: 34%;
    top: 93%;
    left: 66%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.menuBar-settings-button:hover{
    background-color: #7BBDF7; /* lighter blue */
    color: white;
}

.serialInput-button{
    background-color: #287FCC; /*blue same as header */
    border: double; 
    color: white;
    padding: 16px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: x-large;
    margin: 0px 0px;
    cursor: pointer;
    position: fixed;
    top: 65%;
    left: 4%;
    height: 11%;
    width: 90%;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

.wifi-button{
    background-color: #287FCC; /*blue same as header */
    border: double; 
    color: white;
    padding: 16px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: x-large;
    margin: 0px 0px;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 4%;
    height: 11%;
    width: 90%;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}
.wifi-button:hover{
    background-color: #7BBDF7; /* lighter blue */
    color: white;
}

.password-button{
    background-color: #287FCC; /*blue same as header */
    border: double; 
    color: white;
    padding: 16px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: x-large;
    margin: 0px 0px;
    cursor: pointer;
    position: fixed;
    top: 65%;
    left: 4%;
    height: 11%;
    width: 90%;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}
.password-button:hover{
    background-color: #7BBDF7; /* lighter blue */
    color: white;
}

.logout-button{
    background-color: #287FCC; /*blue same as header */
    border: double; 
    color: white;
    padding: 16px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: x-large;
    margin: 0px 0px;
    cursor: pointer;
    position: fixed;
    top: 80%;
    left: 4%;
    height: 11%;
    width: 45%;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}
.logout-button:hover{
    background-color: #7BBDF7; /* lighter blue */
    color: white;
}
.addRecipe{
    position: fixed;
    top: 20%;
    right: 7%; 
}
.addRecipe-button:hover{
    background-color: #7BBDF7;
    color: white;
}
.recipe-buttons-container{
    position: fixed;
    top:10%;
    right: 10%;
}

.recipe-button {
    background-color: #287FCC;
    border: double; 
    color: white;
    padding: 16px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: x-large;
    margin: 0px 0px;
    cursor: pointer;
    position: fixed;
    top: 16%;
    left: 4%;
    height: 11%;
    width: 90%;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}
.recipe-button:hover{
    background-color: #7BBDF7;
    color: white;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #75BEFF;
    background-color: rgba(117,190,255,0.4);
}

.modal-content{
    position: relative;
    background-color: #7BBDF7;
    color: black;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s   
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #287FCC;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #287FCC;
    color: white;
    text-align: left;
}
 
.add-recipe-button {
    height: 100%;
    width: 100%;
}